@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    height:100vh;
    box-sizing: border-box;
    background-color: black;
    color: #F6F6F6;
}

.titulo-destaque {
    color: #22D4FD;    
}

.apresentacao {
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;    
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__paragrafo {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links {
    display: flex;
    gap: 20px; /* Espaçamento entre os botões */
}

.apresentacao__links__link {
    background-color: #22D4FD;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 28px; /* Aumentar o tamanho da fonte */
    padding: 25px 0; /* Aumentar o padding para um tamanho mais adequado */
    text-decoration: none;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adicionar sombra */
    border: 2px solid #FFFFFF; /* Adicionar borda branca */
    transition: background-color 0.3s, color 0.3s; /* Adicionar transição suave para hover */
}

.apresentacao__links__link:hover {
    background-color: #1AABCA; /* Mudar a cor de fundo no hover */
    color: #FFFFFF; /* Mudar a cor do texto no hover */
}