@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: #F6F6F6;
}

.cabecalho {
    padding: 2% 15%;
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: 'Montserrat', 'sans-serif';
    font-size: 24px;
    font-weight: 600;
    color: #22D4FD;
    text-decoration: none;
    transition: color 0.3s ease;
}

.cabecalho__menu__link:hover {
    color: #ffffff;
}

.cabecalho__logo {
    font-family: 'Montserrat', 'sans-serif';
    font-size: 28px;
    font-weight: 700;
    color: #22D4FD;
}

.titulo-destaque {
    color: #22D4FD;
}

.apresentacao,
.curriculo {
    padding: 5% 15%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo,
.curriculo__conteudo {
    width: 100%;
    max-width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo,
.curriculo__conteudo__titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__paragrafo,
.curriculo__conteudo__paragrafo {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.apresentacao__links__subtitulo {
    font-family: 'Krona one', 'sans-serif';
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border: 2px solid #22D4FD;
    transition: background-color 0.3s ease;
}

.apresentacao__links__link:hover {
    background-color: #272727;
}

.apresentacao__links__subtitulo:hover {
    background-color: #22D4FD;
    color: black;
    border-radius: 8px;
}

.imagem__perfil {
    border-radius: 15%;
    width: 150px;
    height: 150px;
}

.rodape {
    color: #000000;
    background-color: #22D4FD;
    padding: 24px;
    text-align: center;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.curriculo__conteudo__lista {
    list-style: none;
    padding-left: 0;
}

.curriculo__conteudo__subtitulo {
    font-family: 'Krona One', sans-serif;
    font-size: 28px;
    color: #22D4FD;
    margin-top: 20px;
}
